
//
// VARIABLES
//

// main colors
$orange: #e6c653;
$blue: #2d7196;
$green: #3F9A82;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$headings: 'Roboto Slab', serif;
$text: 'Lato', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
